@media screen and (min-width: 900px) {
  .container {
    /* color: red; */
  }

  .filter_sliders > input {
    /* width: 90%; */
  }
}

html, body {
  margin: 0;
  padding: 0;

}

h3 {
  font-size: 1em;
  text-decoration: underline;
}

.plot {
  fill: rgb(231, 223, 223);
  stroke: rgb(231, 223, 223);
  stroke-width: 4;
}

.massyearplot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.massdensplot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.yeardensplot {
  fill: lightgrey;
  stroke: lightgrey;
  stroke-width: 4;
}

.scatterdot {
  fill: blue;
}

.container {
  /* display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr minmax(0.5fr, 0.5fr);
  grid-template-areas:
    "header header header"
    "left-panel globe plots"; */
  text-align: center;
  overflow: auto;
  margin-left: 0px;
  margin-right: 0px;
  width: 100vh;
}

.panel {
  border: 1px solid black;
}

.input_box {
  width:80% !important;
}

.slider_table{
  padding: 5px;
  border-spacing: 5px;
  border-collapse: collapse;
}

.label_size{
  width: 5%;
}
#title_div {
  margin: 0px;
}
#title {
  text-align: center;
  font-size: 25px;
  margin: 0px;
}

#header_panel {
  grid-area: header;
}

#left_panel {
  grid-area: left-panel;
  border-top: none;
  height:100%
}

#filter_panel {
  grid-area: filters;
  height: 55vh;
  overflow-y: auto;
}



#filter_sliders > p, #filter_sliders > div, #filter_sliders > input{
  width: 80%;
}



#filter_panel div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#info_panel {
  grid-area: info;
  text-align: left;
  height: 24vh;
}



#globe_panel {
  grid-area: globe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: none;
  border-right: none;
  /* overflow: hidden; */
  /* width: 100%; */


}

#meteorite_globe_vis {
  width: 100%;
  height: 100%;
  padding: 10px;
}


#right_panel {
  height:100%
}

#plots_panel {
  grid-area: plots;
}

#header_panel,
#left_panel,
#globe_panel,
#right_panel,
.subpanel {
  border-top: none;
}


