body {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1em;
}

.massyearplot {
  fill: rgb(231, 223, 223);
  stroke: rgb(231, 223, 223);
  stroke-width: 4;
}

.massdensplot {
  fill: rgb(231, 223, 223);
  stroke: rgb(231, 223, 223);
  stroke-width: 4;
}

.yeardensplot {
  fill: rgb(231, 223, 223);
  stroke: rgb(231, 223, 223);
  stroke-width: 4;
}

.scatterdot {
  fill: black;
}

.container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 0.5fr minmax(500px, 600px);
  grid-template-areas:
    "header header header"
    "left-panel globe plots";

  text-align: center;
  border-style: discrete;
}

.panel {
  border: 1px solid black;
}

.subpanel {
  border: 1px solid red;
  border-left: none;
  border-right: none;
}

.header_panel {
  grid-area: header;
}

.left_panel {
  grid-area: left-panel;
  display: flex;
  flex-direction: column;
  border-top: none;
}

.filter_panel {
  grid-area: filters;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#includedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_panel {
  grid-area: info;
}

.globe_panel {
  grid-area: globe;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: none;
  border-right: none;
  /* overflow: hidden; */
}

#meteorite_globe_vis {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.right_panel {
}

.plots_panel {
  grid-area: plots;
}

.header_panel,
.left_panel,
.globe_panel,
.right_panel,
.subpanel {
  border-top: none;
}
